#profile-picture{
    height:100px;
    width:100px;
    position: absolute;
    left: 300px;
    top: 0px;

}
.seperator-container{
    display: flex; 
    justify-content: space-between;
}
h1, h2 {
    color: red;
}
.middle-h2{
    display: block;
    background-color: blue;
    text-align: center;
}
#seperate-header{
    padding-top:1px;
}
#skills{
    float:right;
}
@media (max-width: 500px) {
    body {
        background-color: blue;
    }
}
@media (max-width:10000px){
    #skills{
        display:none;
    }
}

#footer{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.white{
height: 100px;
width:100%;
background-color: antiquewhite;
}

.black{
height: 100px;
width:100%;
background-color: black;
}

div.black
{
color: white;
}
